@import "variables.less";
body {
  .sans-serif;
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: @h-color;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}

.navbar-brand {
  font-weight: 700;
}
.navbar-default .navbar-brand {
  color: #1abc9c;
}
.navbar-default {
  background-color: black;
  border-color: transparent;
}


.navbar-default .navbar-nav > li > a {
  color: @navbar-link !important;

  &:focus,
  &:hover {
    color: lighten(@link, 10%) !important;
    background-color: black !important;
  }
}
.navbar-default .navbar-nav > .active > a{
    color: @link !important;
    background-color: #000000 !important;
}
.mt {
  margin-top: 50px;
}
.navbar-collapse.in {
  padding-bottom: 40px;
}
#headerwrap {
  background: no-repeat center top;
  margin-top: -70px;
  padding-top: 100px;
  text-align: center;
  background-attachment: scroll;
  background-position: center center;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 70px;
    color: @h-text-color;
    font-weight: bold;
  }
  h4 {
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
    color: @h-text-color;
    font-weight: 400;
  }
}
#footerwrap {
  color: #d3d3d3;
  margin-top: 50px;
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: #303030;

  a {
    color: @link;
    text-decoration: none;

    &:focus,
    &:hover {
      color: lighten(@link, 20%);
    }
  }

  .copyright {
    margin-bottom: 0;
    font-size: 14px;
  }
}
