@import 'variables.less';
body
{
    font-size: 20px;
    font-weight: 400;

    .sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 700;

    color: @h-color;
}


.posts
{
    a
    {
        text-decoration: none;

        color: @text-color;

        &:hover
        {
            color: lighten(@link, 5%);
        }
    }
    h1
    {
        font-weight: 500;

        color: #000;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .post-meta
    {
        font-weight: 200;
        a
        {
            //  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
            //  color: @navbar-link;
            font-weight: 300;

            color: spin(@navbar-link, 30%);
            &:hover
            {
                font-weight: 400;
            }
        }
    }
}

.navbar-nav > li > a,
.navbar-brand
{
    height: 30px;
    padding-top: 4px !important;
    padding-bottom: 0 !important;
}
.navbar
{
    min-height: 30px !important;
}

.navbar-brand
{
    font-weight: 700;
}
.navbar-default .navbar-brand
{
    font-family: 'Indie Flower', cursive;

    color: @navbar-link;

    &:focus,
    &:hover
    {
        color: lighten(@navbar-link, 20%) !important;
        background-color: #000 !important;
    }
}
.navbar-default
{
    border-color: transparent;
    background-color: #000;
}


.navbar-default .navbar-nav > li > a
{
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    font-weight: 400;

    color: @navbar-link !important;

    &:focus,
    &:hover
    {
        color: lighten(@navbar-link, 20%) !important;
        background-color: #000 !important;
    }
}
.navbar-default .navbar-nav > .active > a
{
    color: spin(@navbar-link, 30%) !important;
    background-color: #000 !important;
}
.mt
{
    margin-top: 50px;
}
.navbar-collapse.in
{
    padding-bottom: -10px;
}

#headerwrap
{
    position: relative;

    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    padding-top: 150px;

    text-align: center;

    background: no-repeat center top;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
       -moz-background-size: 100%;
       -moz-background-size: cover;
         -o-background-size: 100%;
         -o-background-size: cover;
            background-size: cover;
            background-size: cover;
    h1
    {
        font-family: 'Indie Flower', cursive;
        font-size: 4em;
        font-weight: 700;

        padding-top: 10px;
        padding-bottom: 20px;

        letter-spacing: 4px;

        color: @h-text-color;
        text-shadow: 0 2px 5px rgba(0,0,0,.6);
    }
    h3
    {
        font-family: 'Indie Flower', cursive;
        font-size: 2em;
        font-weight: 500;

        color: @h-text-color;
        text-shadow: 0 2px 5px rgba(0,0,0,.6);
    }
}
#footerwrap
{
    margin-top: 50px;
    padding-top: 55px;
    padding-bottom: 50px;

    color: @footer-color;
    background-color: @footer-bg;

    a
    {
        text-decoration: none;

        color: @link;

        &:focus,
        &:hover
        {
            color: lighten(@link, 5%);
        }
    }

    .copyright
    {
        font-size: 14px;

        margin-bottom: 0;
    }
}
