// Variables

@h-text-color:rgba(255,255,255,1);
@h-color: rgba(74,74,74,1);
@link: darken(rgba(225,62,82,1), 20%);
@navbar-link: rgba(26,188,156,1);
@text-color: rgba(64,64,64,1);
@footer-color: rgba(211,211,211,1);
@footer-bg: rgba(48,48,48,1);

.sans-serif () {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
