{% extends "base.html" %}
{% load django_markdown %}

{% block header %}
<div id="headerwrap" style="background-image: url('/{{object.photo}}');" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>{{object.headerline}}</h1>
        <h4>{{object.header_desc}}</h4>
        <span class="meta">Posted by <a href="/about-me">evilroot</a> on {{object.created|date:"d/m/Y H:i"}}</span>
      </div>
    </div><!-- row -->
    </div> <!-- /container -->
</div>
{% endblock %}
    <!-- Post Content -->
{% block entry %}
    <article>
        <div class="container mt centered">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ object.body|markdown }}
                      <p><i class="fa fa-tags"></i>
 {{  object.tags.all|join:", " }}</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
